/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        caps_lock_tap_dance: caps_lock_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "CAPS_LOCK_TAP_DANCE";
            #binding-cells = <0>;
            bindings = <&kp LSHFT>, <&kp CAPSLOCK>;
        };

        e_accents_tap_dance: e_accents_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "E_ACCENTS_TAP_DANCE";
            #binding-cells = <0>;
            bindings = <&kp E>, <&e_aigu>, <&e_grave>;

            tapping-term-ms = <300>;
        };

        layer_1_lock_tap_dance: layer_1_lock_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_1_LOCK_TAP_DANCE";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&tog 1>;
        };

        home_row_mod_left: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MOD_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <6 7 8 10 9 18 19 20 22 21 34 33 32 31 30 6 7 9 10 18 19 20 21 22 30 31 32 33 34>;
            flavor = "balanced";
            hold-trigger-on-release;
        };

        home_row_mod_right: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_MOD_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <1 2 3 4 5 13 14 15 16 17 25 26 27 28 29>;
        };
    };

    combos {
        compatible = "zmk,combos";

        enter_combo_right {
            bindings = <&kp ENTER>;
            key-positions = <19 20 21>;
        };

        enter_combo_left {
            bindings = <&kp ENTER>;
            key-positions = <14 15 16>;
        };
    };

    macros {
        e_aigu: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp E>;
            label = "NEW_MACRO";
        };

        e_grave: e_grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp E>;
            label = "E_GRAVE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE            &kp Q  &kp C  &kp O         &kp P      &kp W               &kp J                    &kp M                                &kp D  &kp EXCLAMATION  &kp Y  &kp BSPC
&kp TAB               &kp A  &kp S  &kp E         &kp N      &kp F               &kp L                    &kp R                                &kp T  &kp I            &kp U  &kp RET
&caps_lock_tap_dance  &kp Z  &kp X  &kp QUESTION  &kp V      &kp B               &kp COLON                &kp H                                &kp G  &kp DOT          &kp K  &kp RSHIFT
                                    &kp LEFT_ALT  &kp LCTRL  &kp LEFT_COMMAND    &layer_1_lock_tap_dance  &home_row_mod_right RIGHT_ALT SPACE  &mo 2
            >;
        };

        nav_num {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &none   &kp N7        &kp N8        &kp N9        &none     &kp HOME   &kp PAGE_DOWN      &kp PAGE_UP      &kp END     &none             &trans
&trans  &kp N0  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &none     &kp LEFT   &kp DOWN           &kp UP_ARROW     &kp RIGHT   &none             &trans
&trans  &none   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none     &kp COMMA  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_MUTE  &kp C_PLAY_PAUSE  &trans
                              &trans        &trans        &trans    &trans     &trans             &trans
            >;
        };

        symbols {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp CARET       &kp LESS_THAN         &kp GREATER_THAN       &kp DLLR         &kp PRCNT    &kp AT_SIGN    &kp AMPERSAND    &kp ASTRK      &kp SINGLE_QUOTE  &kp GRAVE          &trans
&trans  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp EQUAL    &kp BACKSLASH  &kp KP_PLUS      &kp KP_MINUS   &kp SLASH         &kp DOUBLE_QUOTES  &trans
&trans  &kp TILDE       &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp UNDERSCORE   &kp HASH     &kp PIPE       &kp EXCLAMATION  &kp SEMICOLON  &kp COLON         &kp QUESTION       &trans
                                              &bt BT_NXT             &trans           &trans       &trans         &trans           &trans
            >;
        };
    };
};
